[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "ai-hub-apps"]
	path = ai-hub-apps
	url = https://github.com/quic/ai-hub-apps.git
